@model IEnumerable<LibraryWebProject.Models.BookModel>
@{
    ViewData["Title"] = "BookDetail";
}

<table class="table table-dark table-hover table-striped">
    <thead>
        <th>@Html.DisplayNameFor(x => x.BookName)</th>
        <th>@Html.DisplayNameFor(x => x.PageNumber)</th>
        <th>@Html.DisplayNameFor(x => x.Price)</th>
        <th>@Html.DisplayNameFor(x => x.PublishDate)</th>
        <th>@Html.DisplayNameFor(x => x.Publisher)</th>
        <th>@Html.DisplayNameFor(x => x.BookInformation)</th>
        <th>@Html.DisplayNameFor(x => x.BookPhotos)</th>
    </thead>
    <tbody>
        @foreach (var book in Model.Where(x => x.isDeleted == false))
        {
            <tr>
                <td>@book.BookName</td>
                <td>@book.PageNumber</td>
                <td>@book.Price</td>
                <td>@book.PublishDate</td>
                <td>@book.Publisher</td>
                <td>@book.BookInformation</td>
                <td><img src = "~/BookPhotoFile/@book.BookPhotos.FirstOrDefault().PhotoName" class="mx-2" style="max-width: 120px;"></td>
                <td><a asp-action="EditBook" asp-controller = "Library" asp-route-id = "@book.BookID" class="btn btn-warning">Edit</a></td>
            </tr>
        }
    </tbody>
</table>